<!doctype html>
<html>
    <head>
        {% block head %}
            <title>{% block title %}{% endblock %}</title>

            <link rel="stylesheet" href="{{ url_for('static', filename='third_party/bootstrap/css/bootstrap.css') }}">
            <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/">
                        <span class="title navbar-brand">
                                <span class="character tone1">中</span>
                                <span class="character tone2">文</span>
                                <span class="character tone2">读</span>
                                <span class="character tone1">机</span>
                        </span>
                    </a>
                </div>
                <div id="navbar" class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        {% if current_user.is_authenticated %}
                        <li>
                            <a href="/home">
                                <span class="glyphicon glyphicon-file"></span>
                                Documents
                            </a>
                        </li>
                        <li>
                            <a href="/vocab">
                                <span class="glyphicon glyphicon-book"></span>
                                Vocabulary
                            </a>
                        <li>
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-user"></span>
                                {{ current_user.email }}
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="/logout">
                                        <span class="word" data-word="注销">
                                            <span class="character tone4">注</span>
                                            <span class="character tone1">销</span>
                                        </span>
                                        (Log Out)
                                    </a>
                                </li>
                            </ul>
                        </li>
                        {% else %}
                        <li>
                            <a href="/signup">Sign up</a>
                        </li>
                        <li>
                            <a href="/login">Login</a>
                        </li>
                        {% endif %}
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>


        <div class="container">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        {% if category == "message" %}
                        <div class="alert alert-info">
                                <span class="glyphicon glyphicon-info-sign"></span>
                                {{ message }}
                        </div>
                        {% else %}
                        <div class="alert alert-danger">
                            <span class="glyphicon glyphicon-exclamation-sign"></span>
                            {{ message }}
                        </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>

        <script type="text/javascript" src="{{ url_for('static', filename='third_party/jquery/jquery-2.1.4.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='third_party/bootstrap/js/bootstrap.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='app.js') }}"></script>
        <script type="text/javascript">
            // From http://stackoverflow.com/a/14857326/31455
            $('body').on('click', function (e) {
                $('.word').each(function () {
                    //the 'is' for buttons that trigger popups
                    //the 'has' for icons within a button that triggers a popup
                    if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
                        $(this).popover('hide');
                    }
                });
            });

        </script>
    </body>
</html>

