<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRM - 中文读机</title>
</head>
<body>
    <header></header>
    <nav>
        <ul>
            <li><a href="./about.html">About</a></li>
            <li>Upload</li>
        </ul>

    </nav>
    <section>
        <h1>Chinese Reading Machine (CRM) => 中文读机</h1>
        <h2>About</h2>
            <p>
                The Chinese Reading Machine was built for Georgia Tech's CS6460, with the goal of providing
                an immersive environment for Chinese language learners to practice reading.
            </p>
        <h2>How to Use</h2>
        <p>
            Works on this website are clickable.

            Upload your own document to try it out!
        </p>
    </section>

</body>
</html>