{% extends "template" %}
{% block title %} Sandbox {% endblock title %}
{% block head %} {{ super() }} {% endblock head %}
{% block content %}


<p>Upload a .txt file here!</p>
<form action="/sandbox/upload" id="upload" method="POST">
    <input type="file" name="file" accept=".txt" placeholder="Upload File" required>
    <button type="submit">Upload</button>
</form>

{% endblock content %}