<!DOCTYPE html>
<html>
    <head>
        {% block head %}
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock title %}</title>
        {% endblock head %}
    </head>
    
    <body>
        <nav>
        {% if username is undefined %}
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login / Register</a></li>
                <li><a href="/sandbox">Sandbox</a></li>
            </ul>
        {% else %}
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/u/{{username}}">Profile</a></li>
                <li><a href="/api/logout">Logout</a></li>
            </ul>
        {% endif %}
        </nav>
        <div id="content">
            {% block content %}{% endblock content %}
        </div>
    </body>
</html>