<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock title %}</title>
        {# Bootstrap Files #}
        <link href="/static/css/styles.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico" />
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        {# Bootstrap Tags #}
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        {% endblock head %}
    </head>
    <body style="min-height: 100vh; display: flex; flex-direction: column;">
        <nav class="navbar navbar-marketing navbar-expand-lg bg-white navbar-light fixed-top">
            <div class="container">
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <a href="/"><h1 class="fancy-zhongwen" style="font-size: 3rem;">读国</h1></a>
                    <ul class="navbar-nav ml-auto mr-lg-5">
                        <li class="nav-item"><a class="nav-link" id="nav1" href="/about">About</a></li>
                        {% block user_navbar %}
                        <li class="nav-item"><a class="nav-link" id="nav2" href="/sandbox">Sandbox</a></li>
                        {% if username is defined %}
                        <li class="nav-item"><a class="nav-link" id="nav2" href="/u/{{username}}">Profile</a></li>
                        {% endif %}
                        {% endblock user_navbar %}
                    </ul>
                    {% if username is defined %}
                    <a href="/api/logout" class="nav-link">Logout</a>
                    {% else %}
                    <a href="/login" class="btn font-weight-500 ml-lg-4 btn-primary">Login Now<img class="ml-2" src="/static/img/arrow-right.svg"/></a>
                    {% endif %}
                </div>
            </div>
        </nav>
        <br>
        <div>
            {% block content %}{% endblock content %}
        </div>
    </body>
    <footer style="margin-top: auto;">
        <div id="layoutDefault_footer">
            <footer class="footer pt-5 pb-5 mt-auto bg-light footer-light">
                <div class="container">
                    <div class="row">
                        <div class="footer-brand mr-2">
                            DuGuo
                            <a class="icon-list-social-link" target="_blank" href="https://github.com/ericpan64/DuGuo-Chinese-Reading-App">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                                </svg>
                            </a>
                        </div>
                        <div class="mt-1">Designed using <a href="https://startbootstrap.com/">Start Bootstrap</a>. Web serving with <a href="https://www.rust-lang.org/">Rust</a> using <a href="https://github.com/SergioBenitez/Rocket">Rocket</a> + <a href="https://github.com/Keats/tera">Tera</a>. Submit anonymous feedback <a href="/feedback">here.</a></div>
                    </div>
                </div>
            </footer>
        </div>
    </footer>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script>
        AOS.init({
            disable: 'mobile',
            duration: 600,
            once: true,
        });
    </script>
    <script src="/static/js/template.js"></script>
</html>